data
.vscode
report/build
**/.DS_Store
**/__pycache__/

report/report.synctex.gz
report/report.aux
report/report.bbl
report/report.blg
report/report.fdb_latexmk
report/report.log
report/report.fls
report/report.pdf

experiments/pre0_time_range.ipynb
tf_idf_ratings_Jakob.csv
tf_idf_ratings_quirin.csv
report/report.out
